body, html {
	height: 100%;
	background-color: #d3dcdf;
	margin: 0;
}
:root{
	--width:500px;
}
.main {
	width: var(--width);
	margin:auto; 
	padding : 0px;
	overflow: hidden;
	background-color: rgb(231, 232, 231);
	padding: 0px;
}

header {
	height:50px;
	overflow:hidden;
	padding: 0;
	background-color: #00c73c;
	z-index:10;
}

header div {
	display: inline-block;
}

#logo {
	display: inline-block;
	background: url(/img/main/naverLogo.PNG);
	background-size: contain;
	margin: 10px;
	padding: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#logout {
	position: absolute;
	height: 50px;
	margin: 0px;
	font-size: 18px;
	padding: 12px 0px 0px 0px;
	color: rgb(255, 255, 255);
}

.e-mail {
	float:right;
	text-align:right;
	overflow:auto;
	margin: 0px 10px 0px 0px;
	padding: 10px 0px 20px 0px;
	font-size: 19px;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.slide_imgs {
	position: relative;
	height: 300px;
	
}

.slide_imgs ul {
	position: absolute;
	width:calc(100%*11);
	height: 300px;
	list-style: none;
	left: 0px;
	margin: 0px;
	padding: 0px;
	transition: all 0.5s;
}

.slide_imgs li img {
	float:left;
	width: calc(100%/11);
	height: 300px;
}

.category {
	margin: 0;
	padding: 0 5px; 
	text-align : center;
	border: 3px solid rgb(231, 232, 231);
	background-color: rgb(255, 255, 255);

}

.category li {
	display: inline-block;
	padding: 20px 3px 20px 3px;
	font-family: "�룍��";
	font-weight: bold;
	font-size:15px;
	cursor: pointer;
}

.tabpanel {
	color: #666;
}

.tabpanel_current {
	color: #00b336;
	border-bottom: 3px solid #00b336;
}

.category_count {
	border-left : 3px solid rgb( 231, 232, 231);
	border-right: 3px solid rgb(231, 232, 231);
	padding: 15px 10px;
	background-color: rgb(255, 255, 255);
	border-left: 3px solid rgb(231, 232, 231);
}

.category_count .text {
	text-align: center;
	line-height:30px;
	color: gray;
	font-size:15px;
	font-weight: 700;
}

.category_count p {
	display: inline;
	width: 100px;
	margin: 0;
	color: red;
}

.product_List {
	width:100%;
	overflow: auto;
	margin: 0px;
	padding: 0px;
}

.left_list {
	float: left;
	width: 50%;
}

.right_list {
	float: right;
	width: 50%;
}

.product_List li {
	list-style: none;
	margin: 10px 5px 0px 5px;
	background-color: rgb(255, 255, 255);
	cursor: pointer;
}

.product_List li img {
	width: 100%;
}

.product_List li h3 {
	margin: 0px;
	padding: 10px 10px 0px 10px;
}

.product_List li h5 {
	margin: 0px;
	padding: 0px 10px 10px 10px;
	font-size: 16px;
}

.product_List li p {
	margin: 0px;
	padding: 15px;
	font-family: "�굹�닎怨좊뵓";
	font-size: 15px;
	font-weight: 450;
	color: gray;
	border-top: 3px solid rgb(231, 232, 231);
	background-color: rgb(255, 255, 255);
	height: 50px;
	line-height: 30px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.view_more {
	height: 40px;
	margin: 10px 0px 0px 0px;
	padding: 15px 0px 0px 0px;
	border: solid 1px #c3c1c1;
	background-color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.top {
	height: 70px;
	line-height: 70px;
	padding: 0px 0px 0px 0px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	background-color: #dadbdd;
}

@media screen and (max-width:414px){
	:root{
		--width:100%;
	}
}

